

#container {
    display:flex;
    height: 100vh;
    width: 100vh;
}



.rowbox {
    height: 20px;
    width: 20px;
    border: 0.2px solid rgb(123, 132, 201);
}

.hovercolor {
    background-color: rgb(239, 234, 252);
}